html {
	overflow-y: scroll;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

a {
  color: #00B7FF;
}

.login {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	margin-top: 100px;
	border: 1px solid #999;
	text-align: center;
	padding: 20px;

	input[type=text] {
		min-width:  300px;
	}

	div {
		margin-bottom: 10px;
	}
}

.content {
  min-height: 200px;
  max-width: 760px;
  width: 100%;
  margin: 120px auto 0;
  position: relative;

	.loading::after {
	  content: "";
	  display: block;
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 100%;
	  width: 100%;
	  z-index: 600;
	  background-color: #fff;
	  opacity: 0.5;
	  pointer-events: none;
	  background-image: url('../images/loading.gif');
	  background-repeat: no-repeat;
	  background-position: center center;
	}
}

.header {
  background-color: #fff;
  color: black;
  height: 90px;
  padding: 5px 10px;
  position: fixed;
  max-width: 740px;
  width: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid #000;
  z-index: 500;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.logout {
	text-align: right;
	margin-bottom: 5px;
}

.logo {
  font-size: 32px;
}

.filterList {
	margin: 0;
	display: inline;

	li {
	    display: inline;
			padding-right: 5px;
			text-align: center;
			cursor: pointer;
	}

	li:hover {
		text-decoration: underline;
	}

	li.selected {
		font-weight: bold;
		pointer-events: none;
		cursor: none;
		text-decoration: none;
	}

	.spacer {
		padding-right: 5px;
	  content: "|";
	}
}

.header {
	.containerLeft {
	  float:left;
	}

	.profile {
	  text-align: right;
	}

	.profile .title {
	  line-height: 50px;
	  font-size: 24px;
	}

	.profileImage {
	  height: 50px;
	  width: 50px;
	  margin-left: 25px;
	  float: right;
		border: 2px solid #999;
	}
}

.nav {
	position: relative;

	img {
		height: 30px;
		width: 30px;

		&:hover {
			margin: 0;
			height: 40px;
			width: 40px;
		}
	}

	.navListItem {
		background-color: #fff;
		display: inline-block;
		height: 30px;
		width: 30px;
		border: 2px solid #000;
		border-radius: 50px;
		cursor: pointer;
		margin-top: 5px;
		float: left;
		margin: 5px 7px 0;
		text-align: center;
		font-size: 24px;
		line-height: 30px;

		&.active,
		&:hover {
			margin: 0 2px;
			height: 40px;
			width: 40px;
			line-height: 40px;
		}

		&.active {
			pointer-events: none;
			cursor: none;
		}

		&.inactive {
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
	}

	.allUsersButton {
		font-weight: bold;
		font-size: 12px;
		width: 50px;

		&:hover {
			font-size: 14px;
			width: 60px;
		}
	}

	.addButton {
		float: right;
		font-weight: bold;
		font-size: 12px;
		width: 100px;

		&:hover {
			font-size: 14px;
			width: 120px;
		}
	}
}

.heading2 {
  font-size: 24px;
  margin: 10px 0 5px;
  padding-top: 10px;
  border-bottom: 1px solid grey;
}

.buttonContainer {
  float: right;
  text-align: center;
	width: 100px;
}

.delete {
  color: grey;
  cursor: pointer;

	&:hover {
	  color: black;
	}
}

.button {
  border-radius: 10px;
  display: inline-table;
  border: 1px solid black;
  height: 50px;
  width: 100px;
  color: white;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;

	span {
	  display: table-cell;
	  vertical-align: middle;
	}

	&:hover {
	  -webkit-box-shadow: inset 1px 1px 3px 0 rgba(0,0,0,0.75);
	  -moz-box-shadow: inset 1px 1px 3px 0 rgba(0,0,0,0.75);
	  box-shadow: inset 1px 1px 3px 0 rgba(0,0,0,0.75);
	}

	&.half {
	  height: 25px;
	  border-radius: 5px;
	}

	&.plain {
	  color: black;
	}

	&.grabbable {
	  background-color: green;
	}

	&.grabbedByOther {
	  background-color: red;
	  pointer-events: none;
	}

	&.grabbedByUser {
	  background-color: orange;
	}
}

.wish {
  margin: 15px 0;
  padding-bottom: 15px;

	&:not(:last-of-type) {
	  border-bottom: 1px solid grey;
	}

	.wishContent {
	  padding-right: 110px;
	}

	.fields {
	  max-width: 450px;
	  width: 100%;
	}

	.field {
	  padding: 5px 0;
	}

	.fields .url {
	  width: 450px;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  color: #00B7FF;
	}

	.title {
	  font-size: 18px;
	  font-weight: bold;
	  margin-bottom: 5px;
		font-family: "Georgia" ,"Cambria","Times New Roman",Times,serif;
	}

	.addedBy {
	  font-size: 12px;
	}

	.comment {
	  font-style: italic;
		text-align: justify;
	}

	.comment::before {
	  content: '"';
	}

	.comment::after {
	  content: '"';
	}

	.title input {
	  max-width: 526px;
	  width: 100%;
	  margin-bottom: 5px;
	}

	label {
		width: 80px;
		display: inline-block;
		vertical-align: top;
		padding-top: 10px;
	}

	input {
		max-width: 450px;
		width: 100%;
		padding: 5px;
	}

	input[type=submit] {
	  border-radius: 10px;
	  display: table;
	  border: 1px solid black;
	  height: 50px;
	  width: 100px;
	  color: white;
	  text-align: center;
	  float: right;
	  cursor: pointer;
	  background-color: black;
	}

	.editPrice {
		display: inline-block;

		input {
			width: 170px;
		}

		label {
			margin-left: 50px;
		}
	}

	textarea {
		max-width: 452px;
		width: 100%;
		padding: 5px;
		min-width: 60px;
		line-height: 20px;
	}

	select {
		background-color: #fff;
		min-width: 150px;
		height: 30px;
	}

	option {
		font-size: 16px;
	}

	.formSection {
		margin-bottom: 10px;
	}
}

.wishlist {
	background-color: #fff;
  padding: 20px;
  border: 1px solid #999;
	margin-bottom: 20px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);

	.profile {
	  display: table;
		position: relative;
	}

	.wishes {
	  margin-left: 83px;
	}

	.profile .name {
	  display: table-cell;
	  font-size: 24px;
	  vertical-align: middle;
	  padding-left: 20px;
	}
}

.ownWishes {
	position: relative;
}

.profileImage {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  float: left;
  display: table-cell;
	border: 2px solid #999;
}

.wish-enter {
  opacity: 0.01;
}

.wish-enter.wish-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.wish-leave {
  opacity: 1;
}

.wish-leave.wish-leave-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.anchor {
  display: block;
	top: -143px;
  position: absolute;
  visibility: hidden;
}

.shoppingListContainer {
  position: absolute;
  background-color: #fff;
  border: 3px solid black;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 740px;
  width: 100%;
  z-index: 700;
}

.profileButton {
	cursor: pointer;
	text-decoration: none;
}

.profileButton:hover {
	text-decoration: underline;
}

.chippedIn {
	background-color: #fff;
	display: inline-block;
	height: 30px;
	width: 30px;
	border: 2px solid #000;
	border-radius: 50px;
	margin: 0 2px;
}

.shoppingList {
	padding: 20px;
	position: relative;

	.field {
			padding: 0;
			margin: 5px 0;
	}

	h1 {
			text-align: center;
	}

	.shoppingListButtons {
		text-align: center;
	}
}

.checkBox {
	font-size: 18px;
	font-weight: bold;
	float: left;
	display: none;
}

.overlay {
	content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
	bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 600;
  background-color: grey;
  opacity: 0.5;
}

.container.locked {
	position: fixed;
	left: 0;
	right: 0;
}

.closeIcon {
	position: absolute;
	top: -2px;
	right: 5px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	margin: 7px 2px 0 0;

	&:hover {
		text-decoration: underline;
	}
}

@media print {
	.checkBox {
		display: block;
	}

	.container {
		display: none;
	}

	.button {
		display: none;
	}

	.closeIcon {
		display: none;
	}

  .shoppingList {
		position: absolute;
		font-family: Helvetica;
    background-color: #fff;
    height: 100%;
    width: 700px;
    top: 0;
    left: 0;
    margin: 0;
		border: none;
		margin: 0;
		max-width: 700px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;

		.field {
			margin-left: 30px;
		}
  }

  .shoppingListContainer {
		position: absolute;
		font-family: Helvetica;
    background-color: #fff;
    height: 100%;
    width: 700px;
    top: 0;
    left: 0;
    margin: 0;
		border: none;
		margin: 0;
		max-width: 700px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;

		&.hidden {
			display: block !important;
		}
  }
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.hidden {
	display: none !important;
}

.clearfix {
  clear: both;
}
